.site-header {
    background-color: #7fa3f8;
    color: white;
    padding: 50px;
    position: relative;
    z-index: 1;
    display: none;
    
    .home & {
        display: block;
        grid-column: 1;
        grid-row: 1 / 2;
    }
}

.site-header__title {
    font-family: var(--header-font);
    font-size: var(--font-xl);
    font-weight: normal;
    margin-bottom: 0;
    line-height: 0.76;
    text-align: center;
    text-transform: uppercase;
    position: sticky;
    top: 50px;

    span {
        color: #000;
    }
}

.site-header__link {
    color: inherit;
    text-decoration: none;
}