.main--map {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.map-filters {
    grid-column: 1;
    grid-row: 1;
}

.map {
    grid-column: 2;
    grid-row: 1;
    height: 100dvh;
    width: calc(100dvw - 400px);
}

.category-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    padding: 8px 0;
}

.category-title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.subcategory-list.collapsed {
    display: none;
}

.accordion-arrow {
    transition: transform 0.2s ease;
}

.category-header.open .accordion-arrow {
    transform: rotate(90deg);
}

.category-icon svg {
    fill: currentColor;
}